<div class="row">
    <div class="col-md-12">
        <input type="text" dir="rtl" class="form-control mb-3" placeholder="Type to filter the name column..." required (keyup)='updateFilter($event)'>
    </div>
</div>

<div class="row m-2" *ngIf="errors.length > 0">
    <div class="alert alert-warning" role="alert" *ngFor="let item of errors">{{item.message}}</div>
</div>

<ngx-datatable
        [headerHeight]="40"
        [footerHeight]="'falsey'"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [columnMode]="'force'"
        [rows]="rows">

    <!-- Column Templates -->

    <ngx-datatable-column name="שם המשתמש" [maxWidth]="200">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <strong>{{row.user.name}}</strong>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="תוכן">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.content}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="תאריך" [maxWidth]="200">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.created_at}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="פעולות" [sortable]="false" [maxWidth]="200">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, row)">מחק</button>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>

<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">מחק הערה</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">בטוח שרוצה למחוק את ההערה הזאת?</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="deleteItem()">מחק</button>
    </div>
</ng-template>