<div class="d-flex align-items-stretch min-height-100 h-100">
  <div class="bg-cover bg-1 d-none d-md-inline-flex col-md-6 col-lg-8"></div>
  <div class="card card-body mb-0 rounded-0 p-5 col-sm-12 col-md-6 col-lg-4">
    <form [formGroup]="form">
      <div class="mb-3">
        <img src="assets/images/logo.png" class="avatar-xs mb-1" alt="">
        <p class="ff-headers text-uppercase">Sign in to your account</p>
      </div>
      <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['uname'].hasError('required') && form.controls['uname'].touched}">
        <label for="username" class="form-control-label">
          Enter your username
        </label>
        <input type="text" class="form-control" placeholder="username" [formControl]="form.controls['uname']" [ngClass]="{'form-control-danger': form.controls['uname'].hasError('required') && form.controls['uname'].touched}"/>
        <div class="form-control-feedback" *ngIf="form.controls['uname'].hasError('required') && form.controls['uname'].touched">Username is required.</div>
      </fieldset>
      <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}">
        <label for="password" class="form-control-label">
          Enter your password
        </label>
        <input type="password" class="form-control" placeholder="********" [formControl]="form.controls['password']" [ngClass]="{'form-control-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}"/>
        <div class="form-control-feedback" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">Password is required.</div>
        <!--<a [routerLink]="['/authentication/forgot']" class="form-text"><small>Recover password</small></a>-->
      </fieldset>
      <!--<label class="custom-control custom-checkbox mb-3">-->
        <!--<input type="checkbox" class="custom-control-input">-->
        <!--<span class="custom-control-indicator"></span>-->
        <!--<span class="custom-control-description">Stay logged in</span>-->
      <!--</label>-->
      <div class="block"></div>
      <button class="btn btn-primary" [disabled]="!form.valid" (click)="onSubmit()">Login</button>
      <!--<a class="btn btn-outline-primary btn-link" [routerLink]="['/authentication/signup']">Create an account!</a>-->
    </form>
    <div class="alert alert-danger mt-3" role="alert" *ngIf="wrongCredentials">
      Something wrong with your credentials. {{error}}
    </div>
  </div>
</div>