<ngx-datatable
        [headerHeight]="40"
        [footerHeight]="'falsey'"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [columnMode]="'force'"
        [rows]="rows">

    <!-- Column Templates -->

    <ngx-datatable-column name="סרט" [sortable]="false" [width]="420">
        <ng-template let-row="row" ngx-datatable-cell-template align="center">
            <iframe width="420" height="315" [src]="row.link"></iframe>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="מקום" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template align="center">
            <div *ngIf="row.purpose === 'explanation'">מדריך אפליקציה</div>
            <div *ngIf="row.purpose === 'banner'">איך מרוויחים כסף</div>
            <div *ngIf="row.purpose === 'explanation_video'">מדריך יצירת סרטונים</div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="שפה">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <strong *ngIf="row.language === 'he'">עברית</strong>
            <strong *ngIf="row.language === 'en'">אנגלית</strong>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="פעולות" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-warning" [routerLink]="['/guides/edit', row.id]">ערוך</button>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>