<ngx-loading [show]="loading" [config]="{}"></ngx-loading>

<div class="main-div">

    <form class="form-horizontal" novalidate [formGroup]="form">

        <div class="row">

            <div class="form-group col-md-6">
                <label class="col-form-label">שם</label>
                <input class="form-control" formControlName="name" type="text">
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label">אימייל</label>
                <input class="form-control" formControlName="email" type="text">
            </div>

        </div>

        <div class="row">

            <div class="form-group col-md-6">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" formControlName="owner">
                        <span class="checkbox-rtl">בעל העסק</span>
                    </label>
                </div>
            </div>

            <div class="form-group col-md-6" style="text-align: left !important;">
                <button type="submit" (click)="onSubmit()" class="btn btn-primary" [disabled]="form.invalid">שלח</button>
            </div>

        </div>



    </form>

    <div class="row" *ngIf="errors.length > 0">
        <div class="alert alert-warning" role="alert" *ngFor="let item of errors">{{item.message}}</div>
    </div>

</div>







