<ngx-loading [show]="loading" [config]="{}"></ngx-loading>

<div class="main-div">

    <form class="form-horizontal" novalidate [formGroup]="form">

        <div class="row">

            <div class="form-group col-md-6">
                <label class="col-form-label">שעלה באנגלית</label>
                <input class="form-control" formControlName="question_en" type="text">
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label">שעלה בעברית</label>
                <input class="form-control" formControlName="question_he" type="text">
            </div>

        </div>

        <div class="row m-2">תשובה באנגלית</div>

        <div class="card">

            <div class="toolbar" id="toolbar-toolbar-en">
                <span class="ql-formats">
                  <select class="ql-font">
                    <option selected=""></option>
                    <option value="serif"></option>
                    <option value="monospace"></option>
                  </select>
                  <select class="ql-size">
                    <option value="small"></option>
                    <option selected=""></option>
                    <option value="large"></option>
                    <option value="huge"></option>
                  </select>
                </span>
                <span class="ql-formats">
                  <button class="ql-bold"></button>
                  <button class="ql-italic"></button>
                  <button class="ql-underline"></button>
                  <button class="ql-strike"></button>
                </span>
                <span class="ql-formats">
                  <select class="ql-color"></select>
                  <select class="ql-background"></select>
                </span>
                <span class="ql-formats">
                  <button class="ql-list" value="ordered"></button>
                  <button class="ql-list" value="bullet"></button>
                  <select class="ql-align">
                    <option selected=""></option>
                    <option value="center"></option>
                    <option value="right"></option>
                    <option value="justify"></option>
                  </select>
                </span>
                <span class="ql-formats">
                  <button class="ql-link"></button>
                  <button class="ql-image"></button>
                </span>
            </div>
            <div id="editor-container-en"></div>

        </div>

        <div class="row m-2">תשובה בעברית</div>

        <div class="card">

            <div class="toolbar" id="toolbar-toolbar-he" dir="rtl" align="right">
                    <span class="ql-formats">
                      <select class="ql-font">
                        <option selected=""></option>
                        <option value="serif"></option>
                        <option value="monospace"></option>
                      </select>
                      <select class="ql-size">
                        <option value="small"></option>
                        <option selected=""></option>
                        <option value="large"></option>
                        <option value="huge"></option>
                      </select>
                    </span>
                <span class="ql-formats">
                      <button class="ql-bold"></button>
                      <button class="ql-italic"></button>
                      <button class="ql-underline"></button>
                      <button class="ql-strike"></button>
                    </span>
                <span class="ql-formats">
                      <select class="ql-color"></select>
                      <select class="ql-background"></select>
                    </span>
                <span class="ql-formats">
                      <button class="ql-list" value="ordered"></button>
                      <button class="ql-list" value="bullet"></button>
                      <select class="ql-align">
                        <option selected=""></option>
                        <option value="center"></option>
                        <option value="right"></option>
                        <option value="justify"></option>
                      </select>
                    </span>
                <span class="ql-formats">
                      <button class="ql-link"></button>
                      <button class="ql-image"></button>
                    </span>
            </div>
            <div id="editor-container-he" dir="rtl" align="right"></div>

        </div>

        <div class="form-group col-md-6" style="text-align: left !important;">
            <button type="submit" (click)="onSubmit()" class="btn btn-primary" [disabled]="form.invalid">שלח</button>
        </div>

    </form>

    <div class="row" *ngIf="errors.length > 0">
        <div class="alert alert-warning" role="alert" *ngFor="let item of errors">{{item.message}}</div>
    </div>

</div>







