<ngx-loading [show]="loading" [config]="{}"></ngx-loading>

<div class="main-div">

    <form class="form-horizontal" novalidate [formGroup]="form">

        <div class="row">
            <div class="form-group col-md-6">
                <label class="col-form-label">שפה</label>
                <select formControlName="language">
                    <option value="he">עברית</option>
                    <option value="en">אנגלית</option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label">מקום</label>
                <select formControlName="purpose">
                    <option value="explanation">מדריך אפליקציה</option>
                    <option value="banner">איך מרוויחים כסף</option>
                    <option value="explanation_video">מדריך יצירת סרטונים</option>
                </select>
            </div>
        </div>

        <div class="row">

            <div class="form-group col-md-6">
                <label class="col-form-label">לינק (רק YouTube, רק embed link)</label>
                <input class="form-control" formControlName="link" type="text">
            </div>

            <div class="form-group col-md-6" *ngIf="sanitizedLink">
                <iframe width="420" height="315" [src]="sanitizedLink"></iframe>
            </div>

        </div>

        <div class="form-group col-md-6" style="text-align: left !important;">
            <button type="submit" (click)="onSubmit()" class="btn btn-primary">שלח</button>
        </div>

    </form>

    <div class="row" *ngIf="errors.length > 0">
        <div class="alert alert-warning" role="alert" *ngFor="let item of errors">{{item.message}}</div>
    </div>

</div>







