<ngx-loading [show]="loading" [config]="{}"></ngx-loading>

<div class="main-div">


    <div class="row">

        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" [(ngModel)]="explanation">
                <span class="checkbox-rtl">הסבר</span>
            </label>
        </div>

    </div>

    <div class="row">
        <div class="form-group col-md-6" *ngIf="explanation === false">
            <label class="col-form-label">עסק</label>
            <select [(ngModel)]="company_id">
                <option [value]="0">בחר עסק</option>
                <option *ngFor="let company of companies" [value]="company.id">{{company.title}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label class="col-form-label">שפה</label>
            <select [(ngModel)]="language">
                <option value="he">עברית</option>
                <option value="en">אנגלית</option>
            </select>
        </div>
    </div>

    <div class="row company-media">

        <div class="form-group col-md-6">
            <label class="col-form-label">בחר תמונה</label>
            <input class="wide-input" name="image" (change)="onFileChange($event)" type="file" accept="image/*">
        </div>

        <div class="form-group col-md-6">
            <img [src]="image.path" *ngIf="image.path">
        </div>

    </div>

    <div class="form-group col-md-6" style="text-align: left !important;">
        <button type="submit" (click)="onSubmit()" class="btn btn-primary">שלח</button>
    </div>


    <div class="row" *ngIf="errors.length > 0">
        <div class="alert alert-warning" role="alert" *ngFor="let item of errors">{{item.message}}</div>
    </div>

</div>







