<div class="row">
    <div class="col-md-2">
        <button type="button" class="btn btn-info" [routerLink]="['/companies/' + company_id + '/coupons/create']">קופון חדש</button>
    </div>
    <div class="col-md-10">
        <input type="text" dir="rtl" class="form-control mb-3" placeholder="Type to filter the title column..." required (keyup)='updateFilter($event)'>
    </div>
</div>
<ngx-datatable
        [headerHeight]="40"
        [footerHeight]="'falsey'"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [columnMode]="'force'"
        [rows]="rows">

    <!-- Column Templates -->

    <ngx-datatable-column name="לוגו" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template align="center">
            <img [src]="row.image" height="50" width="50" *ngIf="row.image !== ''">
            <img [src]="company.logo" height="50" width="50" *ngIf="row.image === ''">
            <img src="assets/images/placeholders/logo.png" height="50" width="50" *ngIf="row.image === '' && company.logo === ''">
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="שם">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <strong>{{row.title}}</strong>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="מחיר">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div>{{row.price}}</div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="כמות">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div>{{row.quantity}}</div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="כמות רכישות">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div>{{row.purchases}}</div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="כמות שהשתמשו">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div>{{row.uses}}</div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Options" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-warning" [routerLink]="['/companies/' + company_id + '/coupons/edit', row.id]">ערוך</button>
            <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, row)">מחק</button>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>

<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">מחק קופון</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">בטוח שרוצה למחוק את הקופון הזה?</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="deleteItem()">מחק</button>
    </div>
</ng-template>