<div class="row" *ngIf="!company_id">
    <div class="col-md-2">
        <select class="form-control" [(ngModel)]="search.category" (change)="updateFilter()">
            <option value="0">בחר קטגוריה</option>
            <option value="1">בתי מלון</option>
            <option value="2">מסעדות</option>
            <option value="3">אתרקציות</option>
            <option value="4">בילויים</option>
        </select>
    </div>
    <div class="col-md-10">
        <input type="text" dir="rtl" class="form-control mb-3" [(ngModel)]="search.text" placeholder="Type to filter the title column..." (keyup)='updateFilter()'>
    </div>
</div>

<div class="row m-2" *ngIf="errors.length > 0">
    <div class="alert alert-warning" role="alert" *ngFor="let item of errors">{{item.message}}</div>
</div>

<div class="row text-center">
    <div class="col-md-2">פעולות</div>
    <div class="col-md-1">סטטוס</div>
    <div class="col-md-4">שם וכותרת</div>
    <div class="col-md-5">וידאו</div>
</div>

<hr>

<div class="row mt-1 mb-1 text-center video-row" *ngFor="let row of rows">
    <div class="col-md-2">
        <div class="m-1"><button type="button" class="btn btn-success" (click)="changeStatus(row, 'approved')" *ngIf="row.status === 'uploaded'">אשר</button></div>
        <div class="m-1"><button type="button" class="btn btn-warning" (click)="changeStatus(row, 'rejected')" *ngIf="row.status === 'uploaded'">דחה</button></div>
        <div class="m-1"><button type="button" class="btn btn-danger" (click)="openDeleteModal(content, row)">מחק</button></div>
        <div class="m-1"><button type="button" class="btn btn-info" [routerLink]="['/companies/' + company_id + '/videos/' + row.id + '/comments']">הערות</button></div>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-primary" *ngIf="row.status === 'uploaded'">עודכן</button>
        <button type="button" class="btn btn-danger" *ngIf="row.status === 'rejected'">נדחה</button>
        <button type="button" class="btn btn-success" *ngIf="row.status === 'approved'">אושר</button>
    </div>
    <div class="col-md-4">
        <div>{{row.user.name}}</div>
        <div>{{row.user_pivot.tag}}</div>
        <div>{{row.company.title}}</div>
    </div>
    <div class="col-md-5">
        <video [src]="row.url" controls class="video-block"></video>
    </div>
</div>

<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">מחק</h6>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">בטוח שרוצה למחוק את הוידאו? כל ההערות גם ימחקו.</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="deleteItem()">מחק</button>
    </div>
</ng-template>