.form-group {
    text-align: right;
    direction: rtl !important;
}

app-profile {
    direction: rtl !important;
}

.row {
    direction: rtl !important;
    text-align: right;
}

.form-group {
    text-align: right;
}