<div class="row">
    <div class="col-md-2">
        <button type="button" class="btn btn-info" [routerLink]="['/companies/' + company_id + '/managers/create']">מנהל חדש</button>
    </div>
    <div class="col-md-10">
        <input type="text" dir="rtl" class="form-control mb-3" placeholder="Type to filter the title column..." required (keyup)='updateFilter($event)'>
    </div>
</div>

<div class="row m-2" *ngIf="errors.length > 0">
    <div class="alert alert-warning" role="alert" *ngFor="let item of errors">{{item.message}}</div>
</div>

<ngx-datatable
        [headerHeight]="40"
        [footerHeight]="'falsey'"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [columnMode]="'force'"
        [rows]="rows">

    <!-- Column Templates -->

    <ngx-datatable-column name="שם" [maxWidth]="200">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <strong>{{row.name}}</strong>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="אימייל">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <strong>{{row.email}}</strong>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="בעל העסק?" [maxWidth]="200">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div *ngIf="row.owner">
                <button type="button" class="btn btn-primary btn-sm">בעל עסק</button>
            </div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="פעולות" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button (click)="openMessageModal(message, row)" class="btn btn-info">שלח לוגין וסיסמה שוב</button>
            <button type="button" class="btn btn-warning" [routerLink]="['/companies/' + company_id + '/managers/edit', row.id]">ערוך</button>
            <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, row)">מחק</button>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>

<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">מחק מנהל</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">בטוח שרוצה למחוק את המנהל הזה?</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="deleteItem()">מחק</button>
    </div>
</ng-template>

<ng-template ngbModalContainer></ng-template>
<ng-template #message let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">הודעה נוספת</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <textarea class="form-control" dir='rtl' [(ngModel)]="customMessage" rows="3" placeholder="הודעה נוספת"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="resendCredentials()">שלח</button>
    </div>
</ng-template>