<div class="row">
    <div class="col-md-12">
        <input type="text" dir="rtl" class="form-control mb-3" placeholder="Type to filter..." required (keyup)='updateFilter($event)'>
    </div>
</div>
<ngx-datatable
        [headerHeight]="40"
        [footerHeight]="'falsey'"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [columnMode]="'force'"
        [rows]="rows">

    <!-- Column Templates -->

    <ngx-datatable-column name="משתמש">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div>{{row.user.name}}</div>
            <div>{{row.user.phone}}</div>
            <div>{{row.user.email}}</div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="נושא" [maxWidth]="150">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.title}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="הודעה">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.content}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="תאריך" [maxWidth]="150">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div>{{row.created_at}}</div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="פעולות" [sortable]="false" [maxWidth]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, row)">מחק</button>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>

<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">מחק</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">בטוח שרוצה למחוק את ההודעה?</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="deleteItem()">מחק</button>
    </div>
</ng-template>