<div class="row" *ngIf="sent">

    <div class="form-group col-md-3 col-xs-12">
        <ngb-alert type="success" (close)="closeAlert()">
            Successfully sent to {{phone}}
        </ngb-alert>
    </div>

</div>

<div class="row" *ngIf="error">

    <div class="form-group col-md-3 col-xs-12">
        <ngb-alert type="danger" [dismissible]="false" dir="ltr">
            Something is wrong, the code was not sent. Please check again the data.
        </ngb-alert>
    </div>

</div>

<form class="form-horizontal mr-2" novalidate [formGroup]="form">

    <div class="row">

        <div class="form-group col-md-3 col-xs-12">
            <label class="col-form-label">טלפון</label>
            <input class="form-control" formControlName="phone" type="text" dir="ltr">
        </div>

    </div>

    <div class="row">
        <div class="form-group col-md-3 col-xs-12">
            <label class="col-form-label">מדינה</label>
            <select class="form-control" formControlName="country">
                <option selected value="null">בחר מדינה</option>
                <option *ngFor="let country of countries" [value]="country.code">
                    {{country.name}}
                </option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3 col-xs-12">
            <label class="col-form-label">שפת עמוד נחיטה</label>
            <select class="form-control" formControlName="language">
                <option selected value="he">עברית</option>
                <option selected value="en">English</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3 col-xs-12">
            <label class="col-form-label">כמות נקודות</label>
            <select class="form-control" formControlName="quantity">
                <option selected value="null">בחר כמות נקודות</option>
                <option *ngFor="let point of points" [value]="point.quantity">
                    {{point.quantity}}
                </option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3 col-xs-12">
            <button type="submit" (click)="onSubmit()" class="btn btn-primary" [disabled]="form.invalid">שלח</button>
        </div>

    </div>

</form>